#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #040404f1;
  -webkit-text-fill-color: rgb(7, 178, 7);
  font-family: 'Courier New', Courier, monospace;
  color: green;
}

#root .primary-button {
  background-color: rgb(0, 61, 0);
  -webkit-text-fill-color: white;
  border: 1px solid green;
  border-radius: 1rem;
}

#root .primary-button:hover {
  background-color: green;
}

#root .input-field {
  background-color: #302e2eee;
  border: 1px solid green;
  border-radius: 1rem;
  caret-color: green;
}

#root .input-field:focus {
  background-color: #302e2eee;
  border: 1px solid green;
  border-radius: 1rem;
  box-shadow: 0 0 0 0.1rem green;
}

#root .hyperlink {
  opacity: 1;
  -webkit-text-fill-color: green;
}

#root .hyperlink:hover {
  opacity: 0.5;
}





