.footer-content .secondary-button {
    background-color: #1c281aee;
    -webkit-text-fill-color: white;
    border: 1px solid green;
    border-radius: 1rem;
}

.footer-content .danger-button {
    background-color: #de2828ee;
    -webkit-text-fill-color: white;
    border: 1px solid #de2828ee;
    border-radius: 1rem;
}
  
.footer-content .secondary-button:hover, .footer-content .secondary-button:active,
.footer-content .danger-button:hover, .footer-content .danger-button:active {
    background-color: green;
    border: 1px solid green;
}






