.table-container {
    overflow-y: auto;
}

.password-table {
    border: 1px solid rgb(0, 100, 0);
}

.password-table th {
    background-color: rgb(1, 80, 1); /* Use `!important` to override Bootstrap if necessary */
    -webkit-text-fill-color: white; /* Set text color */
    font-size: larger;

}

.password-table td {
    background-color: #1b1a1aee; /* Set color for odd rows */
}

.password-table tr:nth-child(even) {
    background-color: #302e2eee; /* Set color for even rows */
    
}









