.custom-modal-size .modal-dialog {
    max-width: fit-content; 
    margin: 1.75rem auto;
}
  
.custom-modal-size .modal-content {
    width: 120%; 
}

.modal-header {
    border-bottom: 0px;
}

.modal-footer {
    background-color: #dcdcd95f;
}

