.custom-modal-size .modal-dialog {
    max-width: fit-content; 
    margin: 1.75rem auto;
}
  
.custom-modal-size .modal-content {
    width: 120%; 
}

.modal-header {
    border-bottom: 0px;
}

.body-content .primary-button {
    background-color: rgb(0, 61, 0);
    -webkit-text-fill-color: white;
    border: 1px solid green;
    border-radius: 1rem;
}

.body-content .danger-button {
    background-color: #de2828ee;
    -webkit-text-fill-color: white;
    border: 1px solid #de2828ee;
    border-radius: 1rem;
}
  
.body-content .primary-button:hover, .body-content .primary-button:active,
.body-content .danger-button:hover, .body-content .danger-button:active {
    background-color: green;
    border: 1px solid green;
    color: white;
}


