.modal-header {
    border-bottom: 0px;
}


.body-content .primary-button, .body-content .primary-button:focus, 
.footer-content .primary-button,  .footer-content .primary-button:focus {
    background-color: rgb(0, 61, 0);
    -webkit-text-fill-color: white;
    border: 1px solid green;
    border-radius: 1rem;
}

.footer-content .secondary-button, .footer-content .secondary-button:focus {
    background-color: #1c281aee;
    -webkit-text-fill-color: white;
    border: 1px solid green;
    border-radius: 1rem;
}
  
.body-content .primary-button:hover, .body-content .primary-button:active, 
.footer-content .primary-button:hover, .footer-content .primary-button:active,
.footer-content .secondary-button:hover, .footer-content .secondary-button:active {
    background-color: green;
    border: 1px solid green;
}

.body-content .input-field {
    background-color: #302e2eee;
    border: 1px solid green;
    border-radius: 1rem;
    caret-color: green;
}
  
.body-content .input-field:focus {
    background-color: #302e2eee;
    border: 1px solid green;
    border-radius: 1rem;
    box-shadow: 0 0 0 0.1rem green;
}

.body-content .input-field:-webkit-autofill, 
.body-content .input-field:-webkit-autofill:focus,
.body-content .input-field.input-field:-webkit-autofill:hover,
.body-content .input-field.input-field:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #302e2eee inset;
}



