.primary-button, .primary-button:focus {
    background-color: rgb(0, 61, 0);
    -webkit-text-fill-color: white;
    border: 1px solid green;
    border-radius: 1rem;
}
  
.primary-button:hover, .primary-button:active {
    background-color: green;
    border: 1px solid green;
}